.footer {
  /* Top Section */
  .footer-top {
    background-color: #3b3b3b;
    color: #ffffff;
    font-size: 16px;

    .footer-columns {
      display: flex;
      gap: 50px;
      padding: 24px 0 0;

      .footer-column {
        flex: 1;
        position: relative;

         
        &::after {
          content: "";
          position: absolute;
          width: 1px;
          background: #ffffff1a;
          height: 86%;  
          right: -28px;
          top: 7%;
        }

        &:last-child::after {
          display: none;  
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            border-bottom: 1px solid #ffffff1a;
            padding: 20px 16px;
            white-space: nowrap;
            transition: background 0.3s ease;

            &:last-child {
              border: none;
            }

            &:hover {
              background: rgba(255, 255, 255, 0.05);
            }

            .link {
              display: flex;
              align-items: center;
              gap: 12px;
              font-size: 15px;
              font-weight: 400;
               

              img {
                width: 6.75px;
                height: 11.67px;
                 
              }
            }
          }
        }
      }
    }
  }

  /* Bottom Section */
  .footer_button {
    background-color: #353535;
    color: #ffffff;
    font-size: 16px;
    padding: 35px 0;

    .footer_bottom_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .left_area {
        .footer_links {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .link {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 15px;
             

            img {
              width: 6.75px;
              height: 11.67px;
              flex-shrink: 0;
            }

             
          }
        }
      }

      .right_area {
        .footer_info {
          padding-right: 128px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          p {
            font-size: 18px;
            font-weight: 500;
          }

          span {
            font-size: 14px;
            font-weight: 400;
            padding-top: 11px;
          }
        }
      }
    }
  }
}
